@charset "utf-8";
#main_header{line-height: 100px; background: plum; border-bottom: 1px solid #000; padding-left: 20px; color:white; background:url("./50853fbf991283d668d33a3ee5dbb12e.jpg");}

/*##*/
#main_gnb{background: #cdcdcd; border-bottom: 1px solid #000;}
#main_gnb:after{content:""; display:block; clear:both;}

#main_gnb a{display:block; padding:10px 20px;}
#main_gnb a:hover{background:#191970;}
#main_gnb li{float:left;}

.left:after{content:""; display:block; clear:both;}
.right:after{content:""; display:block; clear:both;}

.left{float:left;}
.right{float:right;}
/*##*/

/*##*/
#wrap{background:#191970;}
#wrap:after{content:""; display:block; clear:both;}

#main_lnb{float:left; width: 20%;}
#main_lnb a{display:block; line-height:30px; padding:5px 20px; border-top:1px solid #cdcdcd; border-bottom:1px solid gray;}
#main_lnb a:hover{background:white; color:#191970;}

#content_wrap{float:left; width: 80%; background:white; padding:20px 20px 0 20px; box-sizing:border-box; border-left: 1px solid #000;}
#content_wrap article{padding-bottom:20px;}
#content_wrap h1{padding-bottom:5px;}
/*##*/

#main_footer{border-top: 2px solid #000; text-align:center; padding: 10px;}