@charset "utf-8";
*{margin: 0;padding: 0;}
ul,li{list-style:none;}
a{text-decoration:none;}
a:link,a:hover,a:visited{color:white;}
image{display:block;}
body{min-width:760px; font-family: 'ABeeZee', cursive;}