@charset "utf-8";

*{font-family: 'Cabin', sans-serif;}
::selection {color: black; background: white;}
.nanum-gothic{font-family: 'Nanum Gothic', sans-serif;}

.sub-bg{background: rgba(0,0,0,0.8);}

.bg-line span{width:100%; position: relative;}
.bg-line span div{width:0; background: #fff; height:100%; position: absolute;
	left: 0; top: 0; transition-duration:0.7s;}
.bg-line span:hover div{width:100%;}
.bg-line span:hover a{color:black;}
.bg-line span a{color:#fff; position: relative; z-index:3; transition-duration:0.7s;}



/*---------------menu---------------*/
#menu{position: absolute; bottom: 0; top:0; right:0; width: 100%; margin: 0 auto;
	height: 100%; background-size: 100% 100%; z-index:9998; display:none; opacity:0;}
#menu-list{width: 100%; height: 100%; display:flex; align-content:center;
	flex-direction:column; justify-content:center;}
#menu-list h1{font-size:5em; text-align: center; margin: 2.5px 0; opacity:1;}

#contact h1 span{color:#fff; background: #000;}

nav{position: fixed; z-index:9999; padding: 20px 30px; width: 100%; height: 80px;
	box-sizing:border-box;}
nav:after{content:""; display: block; clear: both;}
nav h1{display:inline-block;}
nav h1 a{color:white !important;}
nav h1 a img{width: 35px; padding: 1px 0;}

#menu-open{float: right; cursor:pointer;}
#menu-open div{width: 30px; height: 3px; /*background: rgba(255,255,255,0.8);*/
	background: #fff; margin: 7px 0; border-radius:10px; position: relative;}
/*#menu-open:hover div{background: rgba(255,255,255,1);}*/

#menu-close{position: absolute; right: 30px; top: 27px; cursor:pointer;
	width: 30px; height: 30px; padding-top: 10px; display:none;}
#menu-close div{width: 30px; height: 3px; background: #fff; border-radius:10px;}
#menu-close div:nth-child(1){transform: rotate(45deg);}
#menu-close div:nth-child(2){transform: rotate(-45deg); margin-top: -3px;}



/*---------------main---------------*/
#page00 #myVideo{position: absolute; bottom: 0; top:0; right:0; width: 100%; 
	height: 100%; background-size: 100% 100%; background-color: black; 
	background-position: center center; background-size: contain; object-fit: cover;
	z-index:3;}
#page00 .layer01{position: absolute; bottom: 0; top:0; right:0; background: rgba(0,0,0,0.5);
	width: 100%; height: 100%; background-size: 100% 100%; z-index:3;}
#page00 .layer01>h1{position: absolute; z-index: 4; width: 100%; left: 0; top: 43%;
	color:white; font-size:5em; font-style:italic;}
#page00 .layer01>h1>span{background: #000;}



/*---------------sub---------------*/
#fullpage{width: 100%; height: 100%; position: relative;}
.section{text-align:center; overflow: hidden; background-size: cover;}

#fp-nav ul li a span, .fp-slidesNav ul li a span{background: #fff;}
#fp-nav ul li .fp-tooltip{font-family: 'Nanum Gothic', sans-serif;}


.main_cmt{position: relative; width: 100%; height: 100%; opacity:0; transform:translateX(-100px);}

.center{width:100%; height:100%; display:flex; align-content:center;
	justify-content: center; align-items:center;}
.center>div{width: 1200px;}
.center>div:after{content:""; display: block; clear: both;}
.logo:after{content:""; display: block; clear: both;}

.text01 a{font-size:14px;}
.text02{position: absolute; bottom: 20px; right: 30px;}
.text02 p{text-align: right; font-size:14px;}

.btn{width: 140px; height: 50px; border-radius: 25px; line-height: 50px;
	font-family: 'Nanum Gothic', sans-serif; display: block;}
.bt-line{position: relative;}
.bt-line span:after{content:""; display: block; width:0; height: 1px; background: #fff;
	position: absolute; left: 0; transition-duration:0.5s;}
.bt-line span.add:after{width: 100%;}



/*---------------incredibles_2---------------*/
#page01{background: #3f1114;}

#page01 .logo{width:500px;}
#page01 .logo>img{width:500px;}
#page01 .text01 h1{color:#fff; margin-bottom: 1px;}
#page01 .text01 .btn{border: 1px solid #fff; color:#fff;
	margin: 0 auto; transition-duration:0.5s; margin-top: 10px;}
#page01 .text01 .btn:hover{background: #fff; color:#000;}

#page01 .bg-line span div{background:#fff}

#page01 .center>div>img{width: 1000px; float: right; margin-top: 100px;}
#page01 .text02 p{color:#fff;}


/*---------------renaultsamsung---------------*/
#page02{background: #ffcc33;}

#page02 .logo>img{margin: 0 auto;}
#page02 .text01>img{width: 450px; margin: 15px auto;}

#page02 .bg-line span div{background:#000;}
#page02 .bg-line span a{color:#000;}
#page02 .bg-line span a:hover{color:#fff;}

#page02 .center>div>img{width: 1000px; margin: 0 auto; margin-top: 50px;}


/*---------------qahwah---------------*/
#page03{background: url(../images/bg.jpg) no-repeat center; background-size:cover;}

#page03 .text01{float: right; margin-right: 25px; margin-bottom: -100px;}
#page03 .text01>h1:nth-child(1){font-size:5em;}
#page03 .text01>h1:nth-child(2){font-size:3.4em; font-weight:normal; position: relative; top: -15px;}

#page03 .bg-line span div{background:#343a40;}
#page03 .bg-line span a{color:#000;}
#page03 .bg-line span a:hover{color:#fff;}

#page03	.center>div>img{width: 1000px; margin-left: -125px;}
#page03 .text02 span{font-size:12px;}


/*---------------web_design---------------*/
#page04{background: #00163b;}
#page04 .center{padding: 100px 0;}
#page04 .center>div>div{padding: 75px 0; margin: 0 auto; position: relative;}
#page04 .center>div>div:nth-child(1){padding: 0;}
#page04 .center>div>div:after{content:""; display: block; clear: both;}

#page04 .text01:after{content:""; display: block; clear: both;}
#page04 .text01 img{margin: 0 auto;}
#page04 .text01 p{color:#fff; padding-top: 10px;}
#page04 .text01 a{color:#fff;}
#page04 .text01 a:hover{color:#00163b;}


/*main*/
#page04-main-wrap{width: 100%; height: 100%; padding-bottom: 150px !important;}
#page04-main-wrap>img{margin: 0 auto; margin-right: 75px; margin-top: 100px;}


/*sub01*/
#page04-sub01{}

#page04-sub01>img:nth-child(1){width: 500px; float: left; margin-left: 50px;}

#page04-sub01 .text01{float: right; margin-right: 50px;}
#page04-sub01 .text01 img{width: 300px; padding: 50px 0 15px; float: right;}
/*#page04-sub01>img:nth-child(2){width: 200px; position: absolute; bottom: 100px; right: 0;}*/


/*sub02*/
#page04-sub02{}

#page04-sub02>img:nth-child(1){width: 700px; float: right; margin-right: -100px;}

#page04-sub02 .text01{float: left;}
#page04-sub02 .text01 img{width: 450px; padding: 30px 0 15px; float: left;}


/*sub03*/
#page04-sub03{padding-bottom: 0 !important;}

#page04-sub03>img:nth-child(1){width: 500px; float: left; margin-left: 50px;}

#page04-sub03 .text01{float: right; margin-right: 50px;}
#page04-sub03 .text01 img{width: 450px; padding: 30px 0 5px; float: right;}